
.vs/CVS/v16/.suo
.vs/CVS/v16/Server/sqlite3/db.lock
.vs/CVS/v16/Server/sqlite3/storage.ide
.vs/CVS/v16/Server/sqlite3/storage.ide-shm
.vs/CVS/v16/Server/sqlite3/storage.ide-wal
.vs/CVS/v16/TestStore/0/000-0000.testlog
.vs/CVS/v16/TestStore/0/testlog.manifest
bin/Debug/CVS.exe
bin/Debug/CVS.exe.config
bin/Debug/CVS.pdb
obj/Debug/CVS.csproj.FileListAbsolute.txt
obj/Debug/CVS.csprojAssemblyReference.cache
obj/Debug/CVS.exe
obj/Debug/CVS.pdb
